/nbproject/private/
/tp-ea-pd1617-ejb/nbproject/private/
/tp-ea-pd1617-ejb/build/
/build/
/tp-ea-pd1617-ejb/dist/
/tp-ea-pd1617-war/nbproject/private/
/tp-ea-pd1617-war/build/
/tp-ea-pd1617-war/dist/
/dist/